{% extends 'SiriuxAdminBundle::layout.html.twig' %}

{% block title %} Dashboard | {{ parent() }} {% endblock %}

{% block body %}
    <h4 class="alert_info">This is the backend for the Gazer Gallery application.</h4>
{% endblock %}
