{% extends form_errors %}

{% block fos_user_header %}Upload photo:{% endblock %}

{% block fos_user_content %}
<form action="{{ path('photo_create') }}" {{ form_enctype(form) }} method="POST">
    {{ form_widget(form) }}
    <input type="submit" value="Upload &rarr;" class="dropsubmitbtn" />
</form>
{% endblock %}
