{% extends 'SiriuxGalleryBundle:Admin/Photos:_list.html.twig' %}

{% block subtitle %}List{% endblock %}

{% block body %}
<article class="module width_full">
    <header>
        <h3>{{ block('section') }}</h3>
    </header>
    {% include 'SiriuxGalleryBundle:Admin/Photos:__list.html.twig' %}
</article>
{% endblock %}
